* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    justify-content: center;
}

.global-container {
    width: 900px;
    margin-bottom: 50px;
}

.logo {
    width: 250px;
}

h1 {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #1b356f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-container input {
    height: 40px;
    width: 250px;
    border-radius: 8px;
    padding-left: 10px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    margin-right: 70px;
}

.filter-container label {
    margin-right: 10px;
    font-size: 14px;
}

.filter-container select {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    padding-left: 5px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
}





.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    border-radius: 16px;
    margin: 8px;
    color: rgb(78, 78, 78);
    padding: 18px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.number {
    font-size: 16px;
}

.back-color {
    position: absolute;
    left: 5px;
    top: 50px;
    width: 190px;
    height: 150px;
    background-image: linear-gradient(120deg, #43e97b 50%, #38f9d7 100%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
    border-radius: 5px;
    z-index: 1;
}

.name {
    font-size: 22px;
    margin-bottom: 16px;
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-container > h3 {
    color: white;
    font-size: 14px;
    background-color: black;
    margin: 0px 6px;
    padding: 5px 10px;
    border-radius: 12px;
}

.type-container .fire {
    background-color: red;

}

.card-bottom {
    text-align: center;
    z-index: 10;
}

.sprite {
    width: 150px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.card:hover .sprite {
    animation: bounce 0.8s ease infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
    }
    50% {
        transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
    }
}
